/*compare 하고 나서의 text 창 색깔 */
.list-cell {
    -fx-alignment: top_left;
    -fx-background: rgb(218, 217, 214);
}
/*틀렸을때 기본*/
.list-cell:filled:odd {
    -fx-cell-hover-color: #ff4c3d;;
    -fx-background-color: #DD4132;
}
/*맞았을때 */
.list-cell:filled:even {
    -fx-background-color: WHITE;
}
/*틀렸을때 hover*/
.list-cell:odd:filled:hover {
    -fx-background-color: #92A8D1;
    -fx-text-fill: black;
}
/*맞았을때 hover*/
.list-cell:even:filled:hover {
    -fx-background-color: whitesmoke;
    -fx-text-fill: Black;
}
/**/
.list-cell:filled:odd:selected:focused, .list-cell:odd:filled:selected {
    -fx-background-color: #F7786B;
    -fx-text-fill: WHITE;
 }
/*맞았을때 포커스*/
.list-cell:filled:even:selected:focused, .list-cell:even:filled:selected {
    -fx-background-color: antiquewhite;
 }
