/*CSS Change background color when USER all mouse action for compare result.*/
/*compare 하고 나서의 text 창 색깔 */
.list-cell {
    -fx-alignment: top_left;
    -fx-background: rgb(218, 217, 214);
}
/*맞았을때*/
.list-cell:filled:odd {
    -fx-background-color: WHITE
}
/*틀렸을때*/
.list-cell:filled:even {
    -fx-cell-hover-color: #F7786B;
    -fx-background-color: #F7CAC9;
}
/*틀렸을때 hover*/
.list-cell:even:filled:hover {
    -fx-background-color: #FAE03C;
    -fx-text-fill: black;
}
/*맞았을때 hover*/
.list-cell:odd:filled:hover {
    -fx-background-color: whitesmoke;
    -fx-text-fill: black;
}
/*틀린거 프레스드 */
.list-cell:filled:even:selected:focused, .list-cell:filled:even:selected {
    -fx-background-color: #ff4c3d;;
    -fx-text-fill: white;
}
/*맞았을때 포커스 */
.list-cell:filled:odd:selected:focused, .list-cell:filled:odd:selected {
    -fx-background-color: rgba(141, 232, 97, 0.31);
}


