
/*compare 하고 나서의 text 창 색깔 */
.list-cell {
    -fx-alignment: top_left;
    -fx-background: rgb(218, 217, 214);
}
/*맞았을때*/
.list-cell:filled:odd {
      -fx-background-color: WHITE
}
/*틀렸을때*/
.list-cell:filled:even {
    -fx-cell-hover-color: #ff4c3d;
    -fx-background-color: #F7CAC9;
}
/*틀렸을때 hover*/
.list-cell:even:filled:hover {
    -fx-background-color: #92A8D1;
    -fx-text-fill: white;
}
/*맞았을때 hover*/
.list-cell:odd:filled:hover {
    -fx-background-color: #9896A4;
    -fx-text-fill: black;
}
/*틀린거 프레스드 */
.list-cell:filled:even:selected:focused, .list-cell:filled:even:selected {
    -fx-background-color: #F7786B;
    -fx-text-fill: white;
}
/*맞았을때 포커스 */

.list-cell:filled:odd:selected:focused, .list-cell:filled:odd:selected {
    -fx-background-color: #daa520;
    /*
    -fx-background-color: #92A8D1;
    -fx-background-color: #FAE03C;
    -fx-background-color: #79C753;
    -fx-background-color: #98DDDE;
    -fx-background-color: #034F84;
    */
}
/**/

/*
.list-cell {
    -fx-alignment: top_left;
    -fx-background: gray;
}
.list-cell:filled:odd {
    -fx-cell-hover-color: green;
    -fx-background-color: #49c5b1;
}
.list-cell:filled:even {
    -fx-cell-hover-color: yellow;
    -fx-background-color: #eedc00;
}
.list-cell:even:filled:hover {
    -fx-background-color: yellow;
    -fx-text-fill: green;
}
.list-cell:odd:filled:hover {
    -fx-background-color: green;
    -fx-text-fill: yellow;
}
.list-cell:filled:even:selected:focused, .list-cell:filled:even:selected {
     -fx-background-color: linear-gradient(#e40046 0%, #ef426f 25%, #f67599 75%, #f8a3bc 100%);
     -fx-text-fill: white;
 }

.list-cell:filled:odd:selected:focused, .list-cell:filled:odd:selected {
     -fx-background-color: green;
     -fx-text-fill : yellow;
 }
 */

/**@
hover 적용 & 클릭시 이벤트 적용

*/

/*
    -fx-background-color : #F7CAC9;
    로즈 쿼터니트
    F7786B 피치에코
   -fx-background-color: #92A8D1;
    -fx-background-color: #FAE03C;
    -fx-background-color: #79C753;
    -fx-background-color: #98DDDE;
    -fx-background-color: #034F84;
팬톤 올해의컬러

피에스타 Hex#: DD4132
버터컵 Hex#: FAE03C
아이스커피 : Hex#: B18F6A
라일락 그레이 : Hex#: 9896A4
그린 플래쉬 : Hex#: 79C753

*/