.list-cell {
    -fx-alignment: top_left;
    -fx-background: gray;
}
.list-cell:filled:odd {
    -fx-cell-hover-color: yellow;
    -fx-background-color: #eedc00;
}
.list-cell:filled:even {
    -fx-cell-hover-color: green;
    -fx-background-color: #49c5b1;
}
.list-cell:odd:filled:hover {
    -fx-background-color: yellow;
    -fx-text-fill: green;
}
.list-cell:even:filled:hover {
    -fx-background-color: green;
    -fx-text-fill: yellow;
}
.list-cell:filled:odd:selected:focused, .list-cell:odd:filled:selected {
     -fx-background-color: linear-gradient(#e40046 0%, #ef426f 25%, #f67599 75%, #f8a3bc 100%);
     -fx-text-fill: white;
 }
.list-cell:filled:even:selected:focused, .list-cell:even:filled:selected {
     -fx-background-color: green;
     -fx-text-fill: yellow;
 }