
/*compare 하고 나서의 text 창 색깔 */
.list-cell {
    -fx-alignment: top_left;
    -fx-background: gray;
}
/**/
.list-cell:filled:odd {
    -fx-cell-hover-color: green;
    -fx-background-color: #49c5b1;
}
/**/
.list-cell:filled:even {
    -fx-cell-hover-color: yellow;
    -fx-background-color: #eedc00;
}
/**/
.list-cell:even:filled:hover {
    -fx-background-color: yellow;
    -fx-text-fill: green;
}
/**/
.list-cell:odd:filled:hover {
    -fx-background-color: green;
    -fx-text-fill: yellow;
}
/**/
.list-cell:filled:even:selected:focused, .list-cell:filled:even:selected {
    -fx-background-color: linear-gradient(#e40046 0%, #ef426f 25%, #f67599 75%, #f8a3bc 100%);
    -fx-text-fill: white;
}
/**/

.list-cell:filled:odd:selected:focused, .list-cell:filled:odd:selected {
    -fx-background-color: green;
    -fx-text-fill : yellow;
}
/**/

/*
.list-cell {
    -fx-alignment: top_left;
    -fx-background: gray;
}
.list-cell:filled:odd {
    -fx-cell-hover-color: green;
    -fx-background-color: #49c5b1;
}
.list-cell:filled:even {
    -fx-cell-hover-color: yellow;
    -fx-background-color: #eedc00;
}
.list-cell:even:filled:hover {
    -fx-background-color: yellow;
    -fx-text-fill: green;
}
.list-cell:odd:filled:hover {
    -fx-background-color: green;
    -fx-text-fill: yellow;
}
.list-cell:filled:even:selected:focused, .list-cell:filled:even:selected {
     -fx-background-color: linear-gradient(#e40046 0%, #ef426f 25%, #f67599 75%, #f8a3bc 100%);
     -fx-text-fill: white;
 }

.list-cell:filled:odd:selected:focused, .list-cell:filled:odd:selected {
     -fx-background-color: green;
     -fx-text-fill : yellow;
 }
 */

/**@
hover 적용 & 클릭시 이벤트 적용

*/

/*
팬톤 올해의컬러
Hex#: F7CAC9
RGB: 247.202.201
CMYK: 1.24.15.0
Pantone: 13-1520
*Rose Quartz


Hex#: F7786B
RGB: 247.120.107
CMYK: 0.67.53
Pantone: 16-1548
Peach Echo

Hex#: DD4132
RGB: 221.65.50
CMYK: 8.89.90.1
Pantone: 17-1564
Fiesta

Hex#: FAE03C
RGB: 250.224.60
CMYK: 4.7.87.0
Pantone: 12-0752
Buttercup


Hex#: B18F6A
RGB: 177.143.106
CMYK: 30.41.63.4
Pantone: 15-1040
Iced Coffee

Hex#: 9896A4
RGB: 152.150.164
CMYK: 43.38.27.1
Pantone: 16-3905
Lilac Gray

Hex#: 79C753
RGB: 121.199.83
CMYK: 56.0.90.0
Pantone: 15-0146
Green Flash


Hex#: 98DDDE
RGB: 152.221.222
CMYK: 37.0.15.0
Pantone: 13-4810
Limpet Shell

Hex#: 034F84
RGB: 3.79.132
CMYK: 99.74.24.7
Pantone: 19-4049
Snorkel Blue

Hex#: 92A8D1
RGB: 146.168.209
CMYK: 42.24.3.0
Pantone: 15-3919
*Serenity




*/